{% extends 'base.html' %}

{% load filters %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h2>Where do you want to review?</h2>
    </div>
    <form method="get" action="{% url 'write_review' %}" class="my-4">
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    {% if places %}
    <h2 class="text-center">Select a Place to Review</h2>
    <div class="list-group">
        {% for place in places %}
        <div class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="mr-3">
                {% if place.image %}
                <img src="{{ place.image.url }}" class="img-fluid" alt="{{ place.name }}" style="width: 150px; height: 100px; object-fit: cover;">
                {% endif %}
            </div>
            <div class="flex-grow-1">
                <h5 class="mb-1">{{ place.name }}</h5>
                <p class="mb-1">{{ place.description }}</p>
                <div class="rating mb-2">
                    {% generate_range 5 as range %}
                    {% for i in range %}
                        <i class="fas fa-star {% if place.average_rating >= i %}text-warning{% else %}text-muted{% endif %}"></i>
                    {% endfor %}
                    ({{ place.number_of_reviews }} reviews)
                </div>
            </div>
            <div class="ml-auto">
                <a href="{% url 'add_review' place.id %}" class="btn btn-primary">Review this place</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center">No places found matching your query.</p>
    {% endif %}
</div>
{% endblock %}

